.listHeadder {
  font-size: 22px;
  font-weight: 700;
  color: #fcfcfc;
}

.listSubHead-container {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-size:7px;
  letter-spacing: 0.4em;

  width: 90%;

  display: grid;
  grid-template-columns: 33% 25% auto;

  margin-left: 2rem;
  margin-bottom: 8px;

  text-align: left;
}
