.colors-container {
  
  width: 95%;
  height: auto;
  display: inline-block;
  margin: 10px;
  margin-top: 15px;

  /* Div Gradient */

  background: transparent;
  border-radius: 10px;
}

.colorkey {
  padding: 5%;
}
