.progress-bar{
    /* Rectangle 3 */


/* position: absolute;
left: 340px;
top: 170px; */
position: relative;
top: -260px;
width: 50%;
height: 130px;

display: inline-block;
margin: 10px;

/* Dashboard Gradient */

background: linear-gradient(180deg, #373737 50.74%, rgba(55, 55, 55, 0) 140.6%);
border-radius: 10px;
}

.centering-div{
    margin-left: 50px;
    margin-top: 10px;
}