.upload-box{
    width: 50%;
    height: 35px;
    display: flex;
    
    border: .5px dashed #FFFFFF;
    box-sizing: border-box;
    }

    
    .upload-items-div{
        align-items: center;
        display: flex;
    }
    
    .upload-box p{
        font-weight: 500;
    font-size: 11px;
    
    /* identical to box height */
    align-items: center;
    text-align: center;
    }

    .upload-icon{
        position: relative;
        left: 20px;
        width: 40%;
        color: white;
    }

    /* this is the styling for the iframe */
    .upload-div{
        position: relative;
        top: -90px;
        left: 140px;
    }
