.feature-card {
    width: 28%;
    height: 10rem;
    margin: 1rem;
    margin-top: 2rem;
    /* padding: 3%; */
    /* background: linear-gradient(
      180deg,
      #585858 50.74%,
      rgba(55, 55, 55, 0) 140.6%
    );
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15)); */
    border: 1.5px solid rgb(110, 110, 110);

    border-radius: 10px;
  
    display: inline-flex;
    flex-direction: column;
  
    text-align: left;
  
    /* overflow: hidden; */
  }

  

  .project-card{
    width: 90%;
    height: 7.5rem;
    margin: 1rem;
    margin-top: 0cm;
    /* padding: 3%; */
    /* background: linear-gradient(
      180deg,
      #585858 50.74%,
      rgba(55, 55, 55, 0) 140.6%
    );
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15)); */
    border: 1.5px solid rgb(110, 110, 110);

    border-radius: 10px;
  
    display: inline-flex;
    flex-direction: column;
  
    text-align: left;
  }

  

  .project-card:hover{
    transform: scale(1.03);
    transition: all 0.3s ease 0s;

  }
  
  .feat-title {
    font-weight: 700;
    font-size: 18px;
    width: 85%;
    margin: 0%;
    /* margin: 1.5rem 1.5rem 0rem 1.5rem; */
  }
  
  .feat-desc {
    width: fit-content;
    font-size: 13px;
    line-height: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0%;
    /* margin: 0.5rem 1.5rem; */
  }
  
  .feat-banner {
    width: 100%;
    height: 8px;
    border-radius: 10px 10px 0px 0px;
  }

  .feat-text-wrapper{
    padding: 5% 10%;
      margin: auto;
  }


